{% extends "base_generic.html" %}

{% block content %}
<form action="" method="post">
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="submit">
</form>
{% endblock %}
