<div>
    <a class="button btn-sm btn-success" href="">Start</a>
    <a class="button btn-sm btn-danger" href="">Stop</a>
    <a class="button btn-sm btn-warning" href="">Cancel</a>
    <a class="button btn-sm btn-primary" href="">Extend</a>
</div>