{% extends "base_generic.html" %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <table>
        {{ form.as_p }}
    </table>
    <input type="submit" value="submit">
</form>
{% endblock %}
