{# dashboard/templates/dashboard/mdata_list.html #}
{% load render_table from django_tables2 %}

<!doctype html>
<html>
  <head>
    <title>MData List</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script>
      $(document).ready(function() {
        $('.start_mission').click(function(){
            var recid;
            recid = $(this).attr("data-record-id");  
            var d = new Date();
            var n = d.toISOString();
            var act_start = n;
            var status = "Started";
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "http://10.0.0.36:8000/dashboard/mdata-api/" + recid +"/",
              "method": "PATCH",
              "headers": {
                "content-type": "application/json"
              },
              "processData": false,
              "data": "{\n\t\"act_start\": \"" + act_start + "\",\n\t\"status\": \"" + status + "\"\n}"
            }

            $.ajax(settings).done(function (response) {
              console.log(response);
            });

            location.reload(true);
        });


        $('.stop_mission').click(function(){
            var recid;
            recid = $(this).attr("data-record-id");  
            var d = new Date();
            var n = d.toISOString();
            var act_end = n;
            var status = "Finished";
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "http://10.0.0.36:8000/dashboard/mdata-api/" + recid +"/",
              "method": "PATCH",
              "headers": {
                "content-type": "application/json"
              },
              "processData": false,
              "data": "{\n\t\"act_end\": \"" + act_end + "\",\n\t\"status\": \"" + status + "\"\n}"
            }

            $.ajax(settings).done(function (response) {
              console.log(response);
            });

            location.reload(true);
        });

        $('.cancel_mission').click(function(){
            var recid;
            recid = $(this).attr("data-record-id");  
            var d = new Date();
            var n = d.toISOString();
            var act_end = n;
            var status = "Cancelled";
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "http://10.0.0.36:8000/dashboard/mdata-api/" + recid +"/",
              "method": "PATCH",
              "headers": {
                "content-type": "application/json"
              },
              "processData": false,
              "data": "{\n\t\"status\": \"" + status + "\"\n}"
            }

            $.ajax(settings).done(function (response) {
              console.log(response);
            });

            location.reload(true);
        });

        $('.extend_mission').click(function(){
            var recid = $(this).attr("data-record-id"); 
            var extensions = $(this).attr("data-extensions") 
            extensions++;
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "http://10.0.0.36:8000/dashboard/mdata-api/" + recid +"/",
              "method": "PATCH",
              "headers": {
                "content-type": "application/json"
              },
              "processData": false,
              "data": "{\n\t\"extensions\": \"" + extensions + "\"\n}"
            }

            $.ajax(settings).done(function (response) {
              console.log(response);
            });

            location.reload(true);
        });
      });
    </script>
  </head>
  <body>
    
    {% render_table table %}
  </body>

</html>

